@{
    ViewBag.Title = "Dynamic DropDownList demo";
}
@section JSSection{
    <script src="@Url.Content("~/CDN/js/Lib/knockout-2.3.0.js")" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        function ddlEntity(val, txt) {
            this.val = val;
            this.txt = txt;
        }

        ddlEntity.prototype = {
            val: "",
            txt: ""
        };

        ddlEntity.prototype.constructor = ddlEntity;

        function myNumber() {
            var self = this;
            self.numberA = ko.observable(1);
            self.numberB = ko.observable(6);

            self.numberResult = ko.computed(function () {
                var numA = self.numberA(),
                    numB = self.numberB(),
                    isSuccess = true;

                if (isNaN(numA)) {
                    alert("Number A must be number.");
                    isSuccess = false;
                } else {
                    numA = Number(numA);
                }

                if (isNaN(numB)) {
                    alert("Number B must be number.");
                    isSuccess = false;
                } else {
                    numB = Number(numB);
                }

                if (isSuccess) {
                    return numA + numB;
                } else {
                    return "Error";
                }
            });
        }

        myNumber.prototype = {
            numberA: function () { },
            dataListA: [new ddlEntity(0, "zero"), new ddlEntity(1, "one"), new ddlEntity(2, "two"), new ddlEntity(3, "three"), new ddlEntity(4, "four")],
            numberB: function () { },
            dataListB: [new ddlEntity(5, "five"), new ddlEntity(6, "six"), new ddlEntity(7, "seven"), new ddlEntity(8, "eight"), new ddlEntity(9, "nine")],
            numberResult: function () { },
            getMaximun: function () {
                this.numberA(4);
                this.numberB(9);
            }
        };

        myNumber.prototype.constructor = myNumber;

        $(function () {
            ko.applyBindings(new myNumber());
        });
    </script>
}
<h2>Dynamic DropDownList demo</h2>

<span>Math: A+B = ?</span>
<div>
A: <select data-bind="options: dataListA, optionsText: 'txt', optionsValue: 'val', value: numberA"></select>
B: <select data-bind="options: dataListB, optionsText: 'txt', optionsValue: 'val', value: numberB"></select>
<a href="javascript:void(0);" data-bind="click: getMaximun">maximun</a>
</div>
<br />
<div>
    <span data-bind="text: numberA"></span> + <span data-bind="text: numberB"></span> = <span data-bind="text: numberResult"></span>
</div>

