/MvcTest/MvcTest.sln.docstates.suo
/MvcTest/MvcTest.suo

/MvcTest/*.suo

/MvcTest/*.suo

/MvcTest/TestLib/bin

/MvcTest/TestLib/obj

/Library/CommandLib/CommandLib/bin
/Library/CommandLib/CommandLib/obj

/MvcTest/MvcTest/Log

/MvcTest/MvcTest/bin

/MvcTest/MvcTest/obj
/EzNet/EzNet.Library/EzNet.Library/bin
/EzNet/EzNet.Library/EzNet.Library/obj
/Authentication/Authentication/bin
/Authentication/Authentication/obj
