<?xml version="1.0"?>
<root>
    <dbs>
        <db id="MainDB" value="Data Source=LEO\LeoDB;Initial Catalog=HR;Persist Security Info=True;User ID=admin;Password=1qaz2wsx;Pooling=true;min pool size=4;max pool size=32;" />
        <!--<db id="-->db_main" value="Data Source=CHIAWEI-PC\SQLEXPRESS;Initial Catalog=HR;Persist Security Info=True;User ID=sa;Password=m18adm;Pooling=true;min pool size=4;max pool size=32;" />
    </dbs>
</root>
