<?xml version="1.0" encoding="utf-8" ?>
<roots>
    <SystemCatalog>
        <Name>Receive Message1</Name>
        <Url>../TestMsmq/testmsmq1</Url>
        <GroupName>MSMQ Test</GroupName>
        <Target>_blank</Target>
    </SystemCatalog>

    <SystemCatalog>
        <Name>Send Message1</Name>
        <Url>../TestMsmq/TestSendMsg1</Url>
        <GroupName>MSMQ Test</GroupName>
        <Target>_blank</Target>
    </SystemCatalog>

    <SystemCatalog>
        <Name>DB Test1</Name>
        <Url>../TestDB/testDB1</Url>
        <GroupName>DB Test</GroupName>
        <Target>_blank</Target>
    </SystemCatalog>

    <SystemCatalog>
        <Name>Log Config Test</Name>
        <Url>../TestConfig/LogConfigTest</Url>
        <GroupName>Config Test</GroupName>
        <Target>_blank</Target>
    </SystemCatalog>

    <SystemCatalog>
        <Name>Object Config Test</Name>
        <Url>../TestConfig/ObjectConfig</Url>
        <GroupName>Config Test</GroupName>
        <Target>_blank</Target>
    </SystemCatalog>

    <SystemCatalog>
        <Name>Dropdown Test</Name>
        <Url>../TestDropDown/TestDropDown</Url>
        <GroupName>DropDown Test</GroupName>
        <Target>_blank</Target>
    </SystemCatalog>

    <SystemCatalog>
        <Name>Dropdown Test for javascript</Name>
        <Url>../TestDropDown/TestDropDownJS</Url>
        <GroupName>DropDown Test</GroupName>
        <Target>_blank</Target>
    </SystemCatalog>

    <SystemCatalog>
        <Name>Dropdown Exception</Name>
        <Url>../TestDropDown/TestException</Url>
        <GroupName>Exception Test</GroupName>
        <Target>_blank</Target>
    </SystemCatalog>

    <SystemCatalog>
        <Name>Upload</Name>
        <Url>../Upload</Url>
        <GroupName>Upload Test</GroupName>
        <Target>_blank</Target>
    </SystemCatalog>

</roots>
