<?xml version="1.0" encoding="utf-8" ?>
<roots>
    <SystemCatalog>
      <GroupName>MSMQ Test</GroupName>
      <Item>
        <SystemCatalogItem>
          <Name>Receive Message1</Name>
          <Url>../TestMsmq/testmsmq1</Url>
          <Target>_blank</Target>
        </SystemCatalogItem>

        <SystemCatalogItem>
          <Name>Send Message1</Name>
          <Url>../TestMsmq/TestSendMsg1</Url>
          <Target>_blank</Target>
        </SystemCatalogItem>
      </Item>
    </SystemCatalog>

    <SystemCatalog>
      <GroupName>DB Test</GroupName>
      <Item>
        <SystemCatalogItem>
          <Name>DB Test1</Name>
          <Url>../TestDB/testDB1</Url>
          <Target>_blank</Target>
        </SystemCatalogItem>
      </Item>
    </SystemCatalog>

    <SystemCatalog>
      <GroupName>Config Test</GroupName>
      <Item>
        <SystemCatalogItem>
          <Name>Log Config Test</Name>
          <Url>../TestConfig/LogConfigTest</Url>
          <Target>_blank</Target>
        </SystemCatalogItem>

        <SystemCatalogItem>
          <Name>Object Config Test</Name>
          <Url>../TestConfig/ObjectConfig</Url>
          <Target>_blank</Target>
        </SystemCatalogItem>
      </Item>
    </SystemCatalog>

    <SystemCatalog>
      <GroupName>DropDown Test</GroupName>
      <Item>
        <SystemCatalogItem>
          <Name>Dropdown Test</Name>
          <Url>../TestDropDown/TestDropDown</Url>
          <Target>_blank</Target>
        </SystemCatalogItem>

        <SystemCatalogItem>
          <Name>Dropdown Test for javascript</Name>
          <Url>../TestDropDown/TestDropDownJS</Url>
          <Target>_blank</Target>
        </SystemCatalogItem>
      </Item>
    </SystemCatalog>


    <SystemCatalog>
      <GroupName>Exception Test</GroupName>
      <Item>
        <SystemCatalogItem>
          <Name>Dropdown Exception</Name>
          <Url>../TestDropDown/TestException</Url>
          <Target>_blank</Target>
        </SystemCatalogItem>
      </Item>
    </SystemCatalog>

    <SystemCatalog>
      <GroupName>Upload Test</GroupName>
      <Item>
        <SystemCatalogItem>
          <Name>Upload</Name>
          <Url>../Upload</Url>
          <Target>_blank</Target>
        </SystemCatalogItem>
      </Item>
    </SystemCatalog>

</roots>
