<?xml version="1.0" encoding="utf-8" ?>
<roots xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <TestRole>
    <idnum>1</idnum>
    <name>Lin Che Hsu</name>
    <status>0</status>
    <isdelete>1</isdelete>
    <permission>All</permission>
  </TestRole>

  <TestRole >
    <idnum>2</idnum>
    <name>Yang Hang</name>
    <status>1</status>
    <isdelete>0</isdelete>
    <permission>Walao</permission>
  </TestRole>

</roots>
