<?xml version="1.0" encoding="utf-8" ?>

<roots>

  <UploadSettingEntity>
    <RootPath>\Uploads</RootPath>
    <UploadFileSecurity>
      <Owner>Some Body</Owner>
      <FileNameEncrypt>true</FileNameEncrypt>
      <FileContentEncrypt>true</FileContentEncrypt>
    </UploadFileSecurity>
  </UploadSettingEntity>

</roots>
