<?xml version="1.0"?>
<roots>
    <DBSetting>
        <ConnectionKey>MainDB</ConnectionKey>
        <ConnectionString>Data Source=Xuenn-PC\LEODB;Initial Catalog=testBO;Persist Security Info=True;User ID=leo;Password=1qaz2wsx;Pooling=true;min pool size=4;max pool size=32;</ConnectionString>
    </DBSetting>
</roots>
