@{
    ViewBag.Title = "JavascriptTest";
}
@section JSSection{
    <script language="javascript" type="text/javascript">
    $(function(){
        new dialog().alert("test");
    });
    </script>
}
<h2>JavascriptTest</h2>
