@{
    ViewBag.Title = "JavascriptTest";
}
@section JSSection{
    <script src="@Url.Content("~/CDN/js/View/Test/JavascriptTest.js")" type="text/javascript"></script>
}
<h2>JavascriptTest</h2>
<input id="btn1" type="button" value="pop Confirm with cancel btn" />