@using MvcTest.Models
@model TestDropDownModel
@{
    ViewBag.Title = "TestDropDown";
}

<h2>TestDropDown</h2>

<form method="post" action="../TestDropDown/TestDropDown">

@Html.DropDownListFor(x => x.intMemberID, Model.selMemberList)

<input type ="submit" value="OutputLog" />

</form>