@{
    ViewBag.Title = "TestDropDown";
}

<h2>TestDropDown</h2>

<form method="post" action="../TestDropDown/TestDropDown">

@Html.DropDownList("cofoundersList")

<input type ="submit" value="OutputLog" />

</form>