@using MvcTest.Models;
@model List<SystemCatalog>
@{
    ViewBag.Title = "Home Page";
}
    <div>
        @{
            if (Model.Count > 0)
            {
                <ul>
                    @{
                        foreach(SystemCatalog item in Model)
                        {
                            <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
                        }
                    }
                </ul>
            }
        }
    </div>
    @{Type type = Model.GetType().GetGenericArguments()[0];
        @type.ToString();
        string txt = "";
        if (Array.IndexOf(type.GetInterfaces(), typeof(System.Collections.IEnumerable)) > -1)
        {
            txt = "yes";
        }
        else
        {
            txt = "no";
        }
      }
      @txt